@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

body {
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  position: relative;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}
